// ======= <ОБНУЛЕНИЕ> =================================================== //
@import '_reset';

// ======= <ШРИФТЫ> ====================================================== //
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

// ======= <ПЕРЕМЕННЫЕ> ================================================== //
$minwidth: 320px;

// ======= <ОБЩИЕ ПАРАМЕТРЫ> ============================================= //
body {
  color:black;
};

// ======= <ОБОЛОЧКА> ==================================================== //
.wrapper {
  overflow: hidden;
  min-height: 100%;
};

// ======= <ОСНОВНАЯ СЕТКА> ============================================== //
.container {
  min-width: 1130px;
  padding: 0 15px;
};

// ======= <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ> =============== //